@font-face{
    font-family:'poppins semi-bold';
    src: url(VSCassets/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'poppins reg';
    src: url(VSCassets/Poppins-Black.ttf);
}

@font-face {
    font-family: 'raleway reg';
    src: url(VSCassets/Raleway/static/Raleway-Regular.ttf);
}
@font-face{
    font-family: 'poppins med';
    src:url(Vscassets/Poppins-Medium.ttf);
}


    

.containerNAV {
    width: 80%;
    margin: 0 auto;
    height: auto;
    font-family: 'raleway reg'; 
}

.logo {
    float: left;
    position: absolute;
    left: 3%;
    top: 0;
    width: 23%;

}

.NAVbuttons{
    float: right;
}

NAV {
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul>li {
    display: inline-block;
    text-align: left;
    margin-left: 40px;
    padding-top: 50px;

    position:relative;
}

nav ul>li>a {
    color:black;
    text-decoration:none;
    text-transform: lowercase;
    font-size: 20px;
}
nav ul>li>a:hover {
    text-transform: uppercase;
    font-size: 18px;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
    background: #ece5da;
    margin: 0%;
}

header {
    background: #ece5da;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

hr{
    position: absolute;
    width: 1353.5px;
    height: 0px;
    left: 720px;
    top: 257px;

    border: 1px solid #000000;
    transform: rotate(90deg);
}

.introPara{
    padding-left:800px;
    padding-right: 200px;
    padding-bottom: 200px;
    display:flex;
    margin:auto;
    font-family: 'raleway';
    font-size: 24px;
}


.flexContainer{
    display: flex;
    flex-direction: row;
    
}

.mySkills{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.skillsboxes{
    width: 33%;
    padding: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


h1{
    font-family:'poppins med';
    font-size: 22px;
    

}

h3{
    font-family:'poppins med';
    font-size: 18px
}

p{
    font-family: 'raleway reg';
    font-size: 18px;
}

.workGrid{
    display:grid;
    grid-area:myArea;
}
/*.grid-container{
    display:grid;
}*/
    

#categoryGrid{
    margin: 0px 5%;
    display:grid;
    grid-template-rows:300px 300px 300px;
    grid-template-columns: grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "rabbits dogs cats"
    "bunny puppy kitty"
    ;
}

.workPhoto{
    width:auto;
    height:200px;
}

button{
    background-color: #AD956E;
    border:none;
    color:white;
    font-family:'poppins med';
    padding: 15px 32px;
    text-align: center;
    text-decoration:none;
    display:inline-block;
    font-size: 18px;
    border-radius: 4px;
}

button:hover{
    box-shadow: 0 12px 16px 0
rgba(0,0,0,0.24), 0 17px 50px 0
rgba(0,0,0,0.19);
}


.bottomline{
    position: absolute;
    width: 884px;
    height: 0px;
    left: 230px;
    top: 653px;

    border: 1px solid #000000;
}

.INfooter {
    margin:0;
    padding:0;
    background-color: #ece5da;  
}

.mySkills{
    font-family:'poppins reg';
    font-size: 24px;
}

.socials{
    display:flex;
}
.socials ul{
    padding:10px;
    display:flex;
    width:300px;
    height: 30px;
    margin:auto;
}

.social-items{
    list-style: none;
}

.social-items a{
    padding: 10px 20px;
    font-size: 35px;
    
}

.footlinks{
    display:flex;
    width: 560px;
    height:70px;
    margin:auto;
}

.footlinks ul{
    display: flex;
}


.quick-items{
    list-style: none;
}

.quick-items a{
    text-decoration:none;
    padding: 0px 15px;
    font-family: 'raleway reg';
    font-size: 20px;
    color:black;
}


.icon-linkedin {
    
    src:url(linkedinlink.png);
}

@media screen and (max-width:600px){
    .flexContainer{
        display: flex;
        flex-direction: column;
    
    }

    #categoryGrid{
        grid-template-rows: 300px 300px 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "Rabbits"
        "dogs"
        "cats"
        ;
    }

}
/*footer {
    display:flex;
    background-color: #ece5da;
    position:fixed;
    height: 100px;
    width: 100%;
    /*padding: 0; */
   /* list-style-position: center; */
   /* border-top: 2px black;
    border-top-width: 80%;*/
    /*justify-content: center;
    align-items: center;
   
} 8?

/*footer ul>li {
    display:flex;
    position: fixed;
    justify-content: center;
    margin: 70px;
    padding-bottom: 50px;
    align-items:center;
    position:relative; 
    
}*/
/*
footer ul>li>a {
    font-family: 'raleway reg';
    color:black;
    text-decoration:none;
    text-transform: lowercase;
    font-size: 20px;
}

/*footer ul>li>a:hover{
    text-transform: uppercase;
    font-size: 18px;
}*/